In [1]:
#import all the things

%reset
import netCDF4 as nc
import matplotlib.pyplot as plt
import datetime
import os
import numpy as np
import cmocean as cm
from salishsea_tools import visualisations as vis
from salishsea_tools import (teos_tools, tidetools, viz_tools)
import xarray as xr 
import subprocess 
import cmocean
import netCDF4 as nc
import glob

%matplotlib inline

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [2]:


# #    cn_exp      = "SKOG"  ! experience name
# #    nn_it000    =           1  ! first time step
# #    nn_itend    =       32400  ! last time step (std 1 day = 2160 re: rn_rdt=40 in &namdom)
# print('a1')
# w = 32400-1
# print(w)
# print((w+1)/2160)
# print('*')
# print('starts at hrs since jan 1 at midnight:')
# print(15*0)
# #    nn_date0    =  20160101    ! date at nn_it000 (format yyyymmdd) ie START OF THIS SEGMENT

# #    cn_exp      = "SKOG"  ! experience name
# #    nn_it000    =       32401  ! first time step
# #    nn_itend    =       64800  ! last time step (std 1 day = 2160 re: rn_rdt=40 in &namdom)
# print('a2')
# w = 64800-32401
# print(w)
# print((w+1)/2160)
# print('*')
# print('starts at hrs since jan 1 at midnight:')
# print(15*0)
# #    nn_date0    =  20160116    ! date at nn_it000 (format yyyymmdd) ie START OF THIS SEGMENT

# #    cn_exp      = "SKOG"  ! experience name
# #    nn_it000    =       64801  ! first time step
# #    nn_itend    =       97200  ! last time step (std 1 day = 2160 re: rn_rdt=40 in &namdom)
# print('a3')
# w = 97200-64801
# print(w)
# print((w+1)/2160)
# print('*')
# #    nn_date0    =  20160131    ! date at nn_it000 (format yyyymmdd) ie START OF THIS SEGMENT

# #    cn_exp      = "SKOG"  ! experience name
# #    nn_it000    =       95041  ! first time step
# #    nn_itend    =       129600  ! last time step (std 1 day = 2160 re: rn_rdt=40 in &namdom)
# print('a4')
# w = 129600-95041
# print(w)
# print((w+1)/2160)
# print('*')
# #    nn_date0    =  20160214    ! date at nn_it000 (format yyyymmdd) ie START OF THIS SEGMENT

# #    cn_exp      = "SKOG"  ! experience name
# #    nn_it000    =       129601  ! first time step
# #    nn_itend    =       162000  ! last time step (std 1 day = 2160 re: rn_rdt=40 in &namdom)
# print('a5')
# w = 162000-129601
# print(w)
# print((w+1)/2160)
# print('*')
# #    nn_date0    =  20160301    ! date at nn_it000 (format yyyymmdd) ie START OF THIS SEGMENT

# #    cn_exp      = "SKOG"  ! experience name
# #    nn_it000    =       162001  ! first time step
# #    nn_itend    =       194400  ! last time step (std 1 day = 2160 re: rn_rdt=40 in &namdom)
# print('a6')
# w = 194400-162001
# print(w)
# print((w+1)/2160)
# print('*')
# #    nn_date0    =  20160316    ! date at nn_it000 (format yyyymmdd) ie START OF THIS SEGMENT

# #    cn_exp      = "SKOG"  ! experience name
# #    nn_it000    =       194401  ! first time step
# #    nn_itend    =       226800  ! last time step (std 1 day = 2160 re: rn_rdt=40 in &namdom)
# print('a7')
# w = 226800-194401
# print(w)
# print((w+1)/2160)
# print('*')
# #    nn_date0    =  20160331    ! date at nn_it000 (format yyyymmdd) ie START OF THIS SEGMENT

# #    cn_exp      = "SKOG"  ! experience name
# #    nn_it000    =       226801  ! first time step
# #    nn_itend    =       259200  ! last time step (std 1 day = 2160 re: rn_rdt=40 in &namdom)
# print('a8')
# w = 259200-226801
# print(w)
# print((w+1)/2160)
# print('*')
# #    nn_date0    =  20160415    ! date at nn_it000 (format yyyymmdd) ie START OF THIS SEGMENT

In [3]:
#days january to april 
days = [31,29,31,30]

In [25]:
## code for checking length of files
no = 4
ptt = '/data/tjarniko/results/may10_a' + str(no) + '/'
print(ptt)
q = glob.glob(ptt+'SKOG_1h_*_grid_U.nc')
print(q)
w = nc.Dataset(q[0])
ttime = (w.variables['time_counter'])
print(ttime.shape)

/data/tjarniko/results/may10_a4/
['/data/tjarniko/results/may10_a4/SKOG_1h_20160214_20160229_grid_U.nc']
(384,)

In [89]:
def datestring_spitter(hrs_since):
    days = [31,29,31,30]
    h=24
    dayhr = h*np.array(days)
    print(dayhr)

    month = 'walrus'
    day = 'walrus'
    hour = 'walrus'
    
    if (hrs_since < (sum(dayhr[0:4]))):
        month = 'April'
        left = (hrs_since - sum(dayhr[0:3]))
        day = np.floor(left/24)
        day = day + 1
        hour = left%24
    if (hrs_since < (sum(dayhr[0:3]))):
        month = 'March'
        left = (hrs_since - sum(dayhr[0:2]))
        day = np.floor(left/24)
        day = day + 1
        hour = left%24
    if (hrs_since < (sum(dayhr[0:2]))):
        month = 'February'
        left = (hrs_since - sum(dayhr[0:1]))
        day = np.floor(left/24)
        day = day + 1
        hour = left%24
    if (hrs_since < (sum(dayhr[0:1]))):
        month = 'January'
        left = hrs_since 
        day = np.floor(left/24)
        day = day + 1
        hour = left%24

    hour = str(hour)
    if len(hour) == 1:
        hour = '0' + hour + ':00'
    else: 
        hour = hour + ':00'
    
    day = str(int(day))
    
    datestr = month + ' ' + day + ', 2016, ' + hour + '  (' + str(hrs_since) + ' hours since January 1, 2016)'
    print(datestr)
    return datestr
datestring_spitter(1440)

[744 696 744 720]
March 1, 2016, 00:00  (1440 hours since January 1, 2016)

'March 1, 2016, 00:00  (1440 hours since January 1, 2016)'

In [37]:
days = [31,29,31,30]
sum(days[0:2])

60